<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>WORD-COUNTER</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>MY FIRST DJANGO PAGE</h1>
        <br>
        <form action="{% url 'count' %}">
            <label for="firstname">FIRST NAME</label>
            <input type="text" name="firstname" id="firstname">
            <br>
            <textarea name="rawtext" id="rtext" cols="50" rows="20"></textarea>
            <br>
            <button type="submit">SUBMIT</button>
        </form>
        <a href="{% url 'abbt' %}"><button>ABOUT THIS</button></a>
        <script src="" async defer></script>
    </body>
</html>